@tailwind base;
@tailwind components;
@tailwind utilities;

.explore-header > h1 {
  @apply hover:underline selection:underline;
}

.results {
  @apply flex flex-col gap-5
}

.results > div > div > a {
  @apply no-underline
}

h1 {
    @apply font-bold text-[2em]
}

h2 {
    @apply font-bold text-[1.5em]
}

h3 {
    @apply font-bold text-[1.17em]
}

h4 {
    @apply font-bold text-[1em]
}

h5 {
    @apply font-bold text-[0.83em]
}

h6 {
    @apply font-bold text-[0.67rem]
}

.hidden-label > .navds-label {
  @apply hidden;
}

.ds-datepicker__kalenderknapp:disabled {
  @apply border-gray-300 cursor-not-allowed;
}

.select__control {
  @apply border-border hover:border-focus min-h-[48px];
}

.select__option {
  @apply hover:bg-focus hover:text-text-inverted;
}

.select__option--is-focused {
  @apply bg-focus text-text-inverted;
}

.select__control--is-focused {
  @apply border-focus border-2 hover:border-focus;
}

.select__menu-list {
  @apply max-h-28 !important;
}

.select__dropdown-indicator,
.select__indicator-separator {
  @apply hidden;
}

.MuiTreeItem-label {
  /* sorry for normal css */
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  letter-spacing: 0 !important;
  font-family: var(--navds-font-family) !important;
  appearance: none !important;
}

.MuiTreeView-root {
  @apply w-full border border-border rounded p-1 !important;
}

.MuiTreeItem-content {
  @apply px-2 py-1 hover:bg-interaction-primary-hover-subtle hover:text-text !important;
}

.Mui-selected {
  @apply bg-interaction-primary-selected text-text-inverted hover:bg-interaction-primary hover:text-text-inverted !important;
}

.react-tags {
  @apply w-full
}

.react-tags__search-wrapper .navds-text-field__input {
  @apply w-full !important
}

.nada-product-area-link {
  @apply no-underline !important
}

.nada-product-area-link:hover > div > div > div {
  @apply text-link underline
}

.nada-product-area-link:focus > div > div > div {
  @apply text-white
}

.nada-product-area-link:focus > div > p {
  @apply text-white
}

.nada-product-area-link > div > p {
  @apply text-text
}

.nada-search-result {
  @apply no-underline text-text !important
}

.nada-search-result:hover > div > div > div > h2 {
  @apply text-link underline
}

.nada-search-result:focus > div > div > div {
  @apply text-white
}

.nada-search-result:focus > div > p {
  @apply text-white
}

.ds-datepicker__kalenderPortal {
  top: unset !important;
  bottom: calc(100% + 2px) !important;
}

.children-fullwidth > * {
  @apply w-full
}

.svg-scale:hover > svg {
  @apply scale-125
}

.nada-logo {
  background-image: url("/favicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.nada-slash {
  background-image: url("/slash.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.expore-areas-icon {
  background-image: url("/explore-areas.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.js-plotly-plot .plotly .modebar .modebar-group {
    display: flex;
}
